body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  background-size: cover;
  background-position: center;
}

canvas {
  max-width: 100%;
  object-fit: contain;
  pointer-events: none;
  z-index: 0;
}

.button {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}

#menu_button {
  background-color: red;
  /* clip-path: polygon(30% 50%, 70% 50%, 70% 60%, 30% 60%); */
  top: 32.5vh;
  width: 40vw;
  height: 15vh;
  pointer-events: all;
}

.game_buttons {
  display: grid;
  align-items: center;
  text-align: center;
  width: 20vw;
  height: 20vh;
}

.unclickable {
  pointer-events: none;
}

.hide {
  background-color: rgba(0, 0, 0, 0) !important;
}

#mode_menu {
  top: 42.5vh;
  width: 40vw;
  height: 15vh;
  background-color: blue;
}

#mode1 {
  top: 42.5vh;
  left: 15vw;
  width: 20vw;
  height: 20vh;
  background-color: chartreuse;
  
}

#mode2 {
  top: 42.5vh;
  left: 40vw;
  width: 20vw;
  height: 20vh;
  background-color: purple;
  
}

#mode3 {
  top: 42.5vh;
  left: 65vw;
  width: 20vw;
  height: 20vh;
  background-color: magenta;

}

#game_bar {
  position: absolute;
  background-color: red;
}