body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  background-size: cover;
  background-position: center;
}

canvas {
  max-width: 100%;
  object-fit: contain;
  pointer-events: none;
  z-index: 0;
}

.button {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}

#menu_button {
  background-color: red;
  /* clip-path: polygon(30% 50%, 70% 50%, 70% 60%, 30% 60%); */
  width: 40vw;
  height: 20vh;
  pointer-events: all;
}

#game_buttons {
  background-color: green;
  width: 1080/6px;
  height: 1920/3px;
}

.unclickable {
  pointer-events: none;
}

.hide {
  background-color: rgba(0, 0, 0, 0) !important;
}