body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  background-size: cover;
  background-position: center;
}

canvas {
  max-width: 100%;
  object-fit: contain;
  pointer-events: none;
  z-index: 0;
}